/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 17, 2023, 8:55:48 PM
    Author     : admin
*/

.input-container{
    width: 450px;
    height: 600px;
    margin: auto;
    border: 10px solid #b82222;
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
}
.input-form{
    padding-top: 30px;
    margin: 0 10px;
    /*height: 380px;*/
    background-color: #E7E4E4;
    border-radius: 10px;
}
.input-items input{
    width: 350px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid #afaeae;
    margin: 10px 0;
}
.input-items span{
    color: red;
}

.input-form label{
    margin-right: 135px;
}
.change-button{
    margin-top: 15px;
    width: 250px;
    height: 35px;
    background-color: #b82222;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: larger;
    cursor: pointer;
}
.input-form input:hover:nth-child(5){
    background-color: #9b1616;
}
.backToHome-button{
    width: 250px;
    height: 35px;
    background-color: rgb(31, 162, 250);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: larger;
    cursor: pointer;
}

.backToHome-form input:hover{
    background-color: rgb(0, 132, 220);

}